@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Roboto&display=swap');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}