.box{
    background-color: #F7E2E2;
    max-width: 80%;
    margin: 200px auto;
    padding: 50px 100px;
    font-family: Inter;   
}

.header{
    text-align: center;
    margin-bottom: 20px;
}


.buttonContainer{
    /* border: 2px solid black; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.button{
    background-color: black;
    color: white;
    font-weight: 900;
    padding: 10px 10px;
    border: none;
    min-width: 100px;
    margin-right: 20px;
    transition: all 0.1s ease-in;
}

.button:hover{
    cursor: pointer;
    transform: scale(1.1);
}